@import "tailwindcss";

.login-image {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, lime 100%);
  background-image: url("/login-bg.jpeg");
  background-position: center center;
  background-size: cover;
}
